* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	
}



h1 {
	margin: 0;
}

main {
	padding: 20px;
}

form {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 20px;
}

label {
	margin-right: 10px;
}

input[type="number"] {
	padding: 5px;
	border-radius: 5px;
	border: none;
}

button[type="submit"] {
	margin-left: 20px;
	padding: 5px 50px;
	border-radius: 5px;
	border: 2;
	background-color: hsl(238, 39%, 49%);
	color: rgb(255, 255, 255);
	cursor: pointer;
}

#result-container {
	font-size: 20px;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
  }
  header {
	background-color: hsl(238, 39%, 49%)0;
	color: rgb(12, 1, 1);
	text-align: center;
	padding: 20px;
}
